.vs
*~
COPYING
INSTALL
Makefile
*.in
aclocal.m4
autom4te.cache
autoscan.log
config.*
configure.scan
configure
depcomp
install-sh
libltdl
libtool
ltmain.sh
missing
stamp-h1
test-driver
x64
~AutoRecover.cppcodefragments.vcxproj
.*
*.lo
*.la
*.a
*.o
*.log
*.trs
test/json
test/network
test/uri
test/compress
test/echo_server
test/http_server
source/echo_server

